<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <form action="/user/login" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username" required>
        <label for="Password">Passowrd</label>
        <input type="text" id="password" name="password" placeholder="password" required>
        <button type="submit">Login</button>
        <a href="/user/register">Register</a>
    </form>
</body>
</html>